<br>
<br>
<br>

<div class="text-center">

<h1>— 藤子·F·不二雄—</h1>

<h3>  日本著名漫画家</h3>
<br>
<p>  代表作有《哆啦A梦》、《小超人帕门》、《奇天烈大百科》、《小鬼Q太郎》等。</P>
<br>
<br>
<h3>1951年作为儿童漫画家初次亮相。</h3>
<p><br>此后，不断创作出了人气作品，为日本漫画文化奠定了基石。
<br>作品中大多数都是日本人家喻户晓的人气作品和角色。
<br>藤子•F•不二雄的作品不仅在日本国内有人气，现有17个国家出版藤子•F•不二雄的原作漫画，并且动画片在33个国家被放映，广为人知。<br>其人气在全世界持续上升。
2011年开馆的《藤子•F•不二雄博物馆》，在世界各地的粉丝中颇有人气，很多粉丝从国外不辞辛苦来博物馆参观，到现在还念念不忘2013的藤子•F•不二雄诞生80周年纪念展。</p>
<br>
<br>
<h3>哆啦A梦（1970～1994）</h3>
<p><br>1970年开始长期连载的《哆啦A梦》是一篇在日本无人不知的人气漫画。
<br>也可以说是在藤子•F•不二雄的经历中，用最长时间画出最多页数的一部毕生的事业作品。
<br>1980年开始电影制作，而2013年上映的第34部作品《大雄的秘密道具博物馆》系列，首次突破了日本电影历史界的一亿票房。名副其实地成为了日本最具代表性的角色。</p>
<br>
<br>
<br>
</div>
