<br>
<br>
<br>
<br>


<div class="personField">
  <div class="container">
    <div class="row">
      <div class="section1">
        <div class="col-md-4">
          <div class="sectbg">
            <div class="lfimg">
              <%= image_tag "pic_01.gif", width: "235px", height: "235px" %>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="rttext">
            <h2>哆啦A梦 DORAEMON</h2>
            <p>诞生于西元2112年9月3日的猫型机器人。与大雄的曾孙小世一样来自于22世纪。他的使命是从肚子上的四次元口袋中拿出各式各样的<br/>秘密道具J来帮助大雄，不过偶尔也会有糊里糊涂或失败的时候。<br/>对大雄来说，哆啦A梦不只是大雄的守护者，也是可以一起玩乐的好朋友。<br/>最害怕老鼠，最喜欢的是铜锣烧！</p>
            <h4>身高129.3公分<br/>体重129.3公斤<br/>力量129.3马力</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section1">
        <div class="col-md-4">
          <div class="sectbg">
            <div class="lfimg">
              <%= image_tag "pic_02.gif", width: "235px", height: "235px" %>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="rttext">
            <h2>大雄 NOBITA</h2>
            <p>野比大雄<br/>生日是8月7日。<br/>10岁大的小学生。运动和念书都不在行-不论做什么事都会失败。虽然是个很喜欢睡午觉的懒惰虫，却是个善解人意、心地善良的小男生。<br/>最擅长翻花绳与射击。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section1">
        <div class="col-md-4">
          <div class="sectbg">
            <div class="lfimg">
              <%= image_tag "pic_03.gif", width: "235px", height: "235px" %>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="rttext">
            <h2>胖虎 GIAN</h2>
            <p>大雄的同班同学，大家都叫他胖虎。<br>虽然是个粗暴的孩子王，不过很重视友情。在学校里总是耀武扬威，一回到家里却对妈妈没有丝毫抵抗能力，对妹妹胖妹则是疼爱有加。<br>宠物是只名叫[木克]的狗。<br>梦想是成为歌星,但他可怕的歌声却是大家的噩梦。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section1">
        <div class="col-md-4">
          <div class="sectbg">
            <div class="lfimg">
              <%= image_tag "pic_04.gif", width: "235px", height: "235px" %>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="rttext">
            <h2>静香 SHIZUKA</h2>
            <p>源静香<br/>大雄的同班同学，是个可爱的小女生。既优秀，功课又好。因为非常爱干净，所以很喜欢洗澡。最喜欢的食物是烤地瓜。<br/>宠物是有金丝雀[小皮]和小狗[波吉]。<br/>很受大家的欢迎，不过将来的结婚对象还是选择大雄。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
