<!DOCTYPE html>
<html>
  <head>
    <title>多啦A梦的百宝箱 - 订制专属的哆啦A梦</title>

  <body>
    <header id="home" data-spy="scroll" data-target="#top-nav">

      <div class="row">


              <%= render "common/navbar" %>



      </div>
    </header>

    <body data-spy="scroll" data-target=".nav-top">
      <!--======== 网站头图 =========-->

      <div class="row user_setup">
       <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 user_setup_content">
         <div class="row">
           <div class="col-md-10 col-md-offset-1">
           <h2><span class="fa fa-sign-in"></span> 登入</h2>
           <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="k70fETK5OzkoBgrLMRSvQnJUR8HmtjwBWN398iCaDJo62pTUIjegrenbFB6YK+3VIvavzzWPNx85eVfAZg45fA==" />
             <div class="form-inputs">
               <div class="form-group email optional user_email"><input class="form-control string email optional" autofocus="autofocus" placeholder="you@example.com" type="email" value="" name="user[email]" id="user_email" /></div>
               <div class="form-group password optional user_password"><input class="form-control password optional" placeholder="密码" type="password" name="user[password]" id="user_password" /></div>
               <div class="form-group boolean optional user_remember_me"><div class="checkbox"><input value="0" type="hidden" name="user[remember_me]" /><label class="boolean optional" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />记住我</label></div></div>
               <a class="psw" href="/users/password/new">忘记密码？</a>
             </div>

             <div class="form-actions">
               <input type="submit" name="commit" value="登入" class="btn btn-default button" data-disable-with="登入" />
             </div>
     </form>      <hr />
             <div class="account">
               <a href="/users/sign_up">现在就加入 哆啦A梦的百宝箱。</a>
             </div>
           </div>
         </div>
       </div>
     </div>


    </body>
    </html>
