
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";



   //---------Box---------

   .box {
     background-image: url("header.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;

     .box-inner {
         background-color: rgba(250, 250, 250, 0.69);
         padding-bottom: 5px;
         margin-bottom: 150px;
     }

     .title {
         text-align: center;
         margin-bottom: 80px;
     }

     .slogan {
         color: #222;
         margin-top: 10px;
         margin-bottom: 50px;
         text-align: center;
         font-size: 25px;
         top: 12px;
     }

     .lead {
         margin-bottom: 60px;
         text-align: center;
         color: white;
     }
   }

//------------商品分类---------

.user_setup {
  background-image: url("setup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .box {
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
  // margin-bottom: 50px;
 }
}

//-------------登录页面--------
.login-box {
  background-image: url(login.jpg);
}
