// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//---------Navbar---------
.body {
  a:hover {
    color: blue!important;
  }
}
//---------Box---------
.box {
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 51px;
  margin-bottom: 50px;

  .box-inner {
    background-color: rgba(250, 250, 250, 0.69);
    padding: 80px 95px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .title {
    text-align: center;
    margin-bottom: 80px;
  }

  .slogan {
    color: #222;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    top: 12px;
  }

  .lead {
    margin-bottom: 60px;
    text-align: center;
    color: white;
  }
}
//--------category-list-------//
.category-list {
  text-align: center;

  img {
    width: 200px;
    min-height: 200px;
    margin: auto;
  }
}

.product-box {
  text-align: center;

  img {
    width: 200px;
    min-height: 200px;
    margin: auto;
  }
}
//-------product-point----//
.product-point {
  img {
    width: 100% !important ;
  }
  margin-bottom: 50px;
}
